/* forulaire couleur de la ligne quand selection */
.input-field input[type=text]:focus
{
  border-bottom: 1px solid #01579b;
  box-shadow: 0 1px 0 0 #039be5;
}

.input-field input[type=password]:focus
{
  border-bottom: 1px solid #01579b;
  box-shadow: 0 1px 0 0 #039be5;
}

.input-field textarea.materialize-textarea:focus:not([readonly])
{
  border-bottom: 1px solid #01579b;
  box-shadow: 0 1px 0 0 #039be5;
}

.input-field .prefix.active
{
  color: #01579b;
}
